body{
    margin: 0;  
}
@font-face {
    font-family: railway;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}
@font-face{
    font-family: opensans;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
.container{
    background-color: hsl(217, 28%, 15%);
    padding: 0 20px ;
    text-align: center;
 
}
nav{
    padding: 0;   
    float: right;
    height: auto;
}
nav ul{
    padding: 0;
    height: auto;
}
nav ul li{
    display: inline-block;
    
}
.sign{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.team{
    padding-left: 10px;
}
nav ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 11px;
    font-family: railway;
    text-decoration: none;
    height: auto;
    white-space: nowrap;
  

}
.container header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: auto;

}
.container header img{
    max-width: 100%;
    object-fit: contain;
    padding-top:33px;
    height: 25px;
}
.container .image{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    background-color: hsl(217, 28%, 15%);
    
}
.p1,.p2{
    max-width: 100%;
    text-align: center;
    color: white;
    font-family: opensans;
    margin: auto;
    

}
.p1{
    margin-top: 40px; ;
    font-weight: 700;
    padding-bottom: 20px;
   
  
    
}
.p2{
    font-size: 14px;
    font-weight: 400;
}
.container button{
    color: hsl(0, 0%, 100%);
    background-color: hsl(198, 60%, 50%);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    margin-top: 40px;
    font-weight: 700;
    padding: 15px 0;
    width: 250px;

}
.container button:hover{
    background-color: hsl(176, 68%, 64%);
}
