body{
    margin: 0;  
    background-color: hsl(218, 28%, 13%);
}
@font-face {
    font-family: railway;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}
@font-face{
    font-family: opensans;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
.container{
    background-color: hsl(217, 28%, 15%);
    padding: 0 20px;
    text-align: center;
    background-image: url("images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-size: 200% 60%;
    background-position-y: bottom;
    background-position-x: 65%;
}
nav{
    padding: 0;   
    float: right;
    height: auto;
}
nav ul{
    padding: 0;
    height: auto;
}
nav ul li{
    display: inline-block;
    
}
.sign{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.team{
    padding-left: 10px;
}
nav ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 11px;
    font-family: railway;
    text-decoration: none;
    height: auto;
    white-space: nowrap;
}
nav ul li a:active{
    text-decoration: underline;
}
.container header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
   
}
.container header img{
    max-width: 100%;
    object-fit: contain;
    padding-top:33px;
    height: 25px;
}
.container .image{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    
    
}
.p1,.p2{
    max-width: 100%;
    text-align: center;
    color: white;
    font-family: opensans;
    margin: auto;
}
.p1{
    
    margin-top: 40px; 
    font-weight: 700;
    padding-bottom: 20px;  
    font-family: railway;
}
.p2{
    font-size: 14px;
    font-weight: 400;
}
.container button{
    color: hsl(0, 0%, 100%);
    background-color: hsl(198, 60%, 50%);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    margin-top: 40px;
    font-weight: 700;
    padding: 15px 0;
    width: 220px;
    font-family: railway;
}
.container button:active{
    background-color: hsl(176, 68%, 64%);
}
.main{
    background-color: hsl(218, 28%, 13%);
    font-family: opensans;
    color: hsl(0, 0%, 100%);
    padding: 5px 20px;   
}
.main h1{
    font-family: railway;
}
.main p{
    font-size: 14px;
    font-weight: 400;
}
.main p{
    max-width: 100%;
    text-align: center;

}
.main h1{
    max-width: 100%;
    text-align: center;
}
.main img{
    display: block;
    margin: auto;
    padding-top: 150px ;
}
.security img{
    padding-top: 80px ;
}
.realtime img{
    padding-top: 80px;
}
.store img{
    padding-top: 80px;
}
.main-content{
    display: flex;
    flex-direction: column;
    background-color: hsl(218, 28%, 13%);
    justify-content: center;
    align-items: center;
    font-family: opensans;
    color: hsl(0, 0%, 100%);
    padding: 150px 20px;
}
.main-content h1{
    font-family: railway;
}
.main-content img{
    max-width: 100%;
    margin: auto;
    display: block;
    padding-bottom: 50px;
}
.main-content p{
    font-size: 14px;
    font-weight: 400;
}
.main-content a{
    font-size: 14px;
    color: hsl(176, 68%, 64%);
    position: relative;
}
.main-content span{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    white-space: nowrap;
}
.main-content a svg{
    border-bottom: 1px solid;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 133px;
    vertical-align: middle;   
    position: absolute; 
    top: 2px;
    left: 0;
}
.main-content :active{
    color: hsl(0, 0%, 100%);
    fill: hsl(0, 0%, 100%);
}
.main-content svg:active use{
    fill: currentColor;
}
.testimonials{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 0 20px;
    font-family: opensans;
    color: hsl(0, 0%, 100%);
    margin-bottom: 200px;
}
.profile1{
    margin-bottom: 40px;
    padding-top: 70px;
    z-index: 1;
    position: relative;
    box-shadow: 0px 1px 9px 1px hsl(219, 30%, 18%);
    
}
.quotes{
    width: 1000px;
    z-index: 0;
    position: relative;
    visibility: hidden;
    top: 17px;
    padding: 0;
    right: 25px;
}
.quotes img{
   visibility:visible;

}
.profile2{
    margin-bottom: 40px;
    box-shadow: 0px 1px 9px 1px hsl(219, 30%, 18%);
}
.profile3{
    box-shadow: 0px 1px 9px 1px hsl(219, 30%, 18%);
}
.testimonials-container img{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.testimonials ul{
    float:left;
    padding: 10px;
}
.testimonials li{
    list-style-type: none;
    font-family: opensans;
}
.name{
    font-size: 14px;
    font-weight: bolder;
}
.title{
    font-weight: 400;
    font-size: 11px;
}
.testimonials p{
    font-size: 12px;
    max-width: 100%;
    font-weight: 400;
}
.testimonials div{
    background-color: hsl(219, 30%, 18%);
    max-width: 80%;
    padding: 0 20px;
    border-radius: 10px;
    padding-top: 20px;
}
.testimonials-container{
    display: flex;
    flex-direction: row;
    margin-left: -20px;
    padding: 0;
    align-items: center;
    margin-top: -45px;
}
.early-access{
    color: hsl(0, 0%, 100%);
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
}
.input{
    padding: 0 10px;
    margin: 0;
}
.early-access h1{
    font-family: railway;
    text-align: center;
    max-width: 100%;
}
.early-access p{
    font-family: opensans;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 35px;
    max-width: 100%;
}
.email{
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 20px 40px;
    max-width: 100%;
    height: auto;
    margin: auto;
    border: none;
    font-family: railway;
    font-size: 14px;
    text-align: start;
    font-weight: 400;
    margin-bottom:30px ;
}
.email::placeholder{
    font-size: 14px;
    font-family: railway;
    font-weight: 400;

}
.start{
    background-color: hsl(198, 60%, 50%);
    border-radius: 30px;
    padding: 20px 60px;
    max-width: 100%;
    border: none;
    font-family: railway;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-family: railway;
    height: auto;
    margin: auto;
}
.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}